.user_list {
  background-color: #fff;
  box-shadow: 2px 4px 4px 0 rgb(0 0 0 / 40%);
  border-spacing: 0;
}

.user_list_thead {
  background-color: #dee2e6;
}

.user_list_thead_th {
  font-size: 2rem;
  font-weight: 300;
  padding: 2rem 4rem;
}

.user_list_td {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.2rem 2rem;
}

.user_list_chevron_down_icon {
  width: 2rem;
  cursor: pointer;
}

.user_list_chevron_down_icon:hover {
  stroke-width: 0.2rem;
}

.user_list_chevron_up {
  width: 2rem;
  cursor: pointer;
}

.user_list_chevron_up:hover {
  stroke-width: 0.2rem;
}

.user_detail_section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-bottom: 2rem;
}

.section_list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.section_h2 {
  margin-bottom: 1.2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0);
  border: none;
}
